/* reset básico do css */
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    background-color: rgb(107, 107, 100);
}

/* header */
header {
    background-color: rgb(255, 251, 170);
    color: black   ;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgb(0, 0, 0);

}

footer {
    background-color: rgb(255, 251, 170);
    color: black;  
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgb(0, 0, 0);


}

h1:hover{
    transform: rotate(5deg);
}

main {
    background-color: rgb(0, 109, 177);
    color: black ;
     text-align: center;
    display: flex;
    justify-content: space-between;
    height: 74vh;
    line-height: 65vh;


    .left {
        background-color: rgb(255, 251, 170);
        color: black  ;
            text-align: center;
        width: 20%;
 

    }

    .right {
        background-color: rgb(255, 251, 170);
        color: black;
               text-align: center;
        width: 20%;
        height: 3;
        
    }
}


h1 {
    color: black !important;
    font-size: 2.6rem;
    margin: 1 rem 0;
}
img{
padding:33px;
}

a{
    text-decoration: none;
    color: black;
}
@media (max-width: 768px){
   main{
    background-color: purple;
   } 
}